<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">엑셀변환시 문제가 발생하였습니다.</h3>
        <p>* INVOICE(EXCEL) 내부 원단과 부자재 사이에 이미지가 있는지 확인해주세요</p>
        <p>* INVOICE(EXCEL) 내부 DA와 매칭되는 INVOICE(pdf파일)가 업로드 되어 있지 않은 경우 정상 추출되지 않습니다.</p>
    </div>


</div>

</div>
</body>
</html>