<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
<!--            <nav>-->
<!--                <ul class="nav nav-pills pull-right">-->
<!--                    <li role="presentation" class="active"><a href="#">Home</a></li>-->
<!--                    <li role="presentation"><a href="#">About</a></li>-->
<!--                    <li role="presentation"><a href="#">Contact</a></li>-->
<!--                </ul>-->
<!--            </nav>-->
            <h3 class="text-muted">신한관세법인</h3>
        </div>

        <div class="jumbotron">
            <h1>PDF Excel 변환</h1>
            <p class="lead">S8R0013325.pdf 포맷 형태만 가능하도록 웹에서 작업되어있습니다 </p>
            <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
                <input id="upload_pdf" name="file" type="file" accept="application/pdf, application/vnd.ms-excel" />
                <button id="btnSubmit" type="button" class="btn btn-primary" style="margin-top: 5px;">Excel변환</button>
            </form>
        </div>

        </div>

<!--        <footer class="footer">-->
<!--            <p>© Company 2014</p>-->
<!--        </footer>-->

    </div>
    <script type="text/javascript" src="../static/js/home.js"></script>
</body>
<script>

</script>
</html>