<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">신한관세법인</h3>
    </div>

    <ul class="nav nav-tabs">
        <li th:classappend="${service} == 'bosch' ? 'active' : ''"><a data-toggle="tab" href="#bosch">BOSCH</a></li>
        <li th:classappend="${service} == 'lenovo' ? 'active' : ''"><a data-toggle="tab" href="#lenovo">LENOVO</a></li>
        <li th:classappend="${service} == 'invoice' ? 'active' : ''"><a data-toggle="tab" href="#invoice">한세실업</a></li>
    </ul>

    <div class="tab-content">
        <div id="bosch" th:classappend="${service} == 'bosch' ? 'in active' : ''" class="tab-pane fade">
            <h3>BOSCH PDF Excel 변환</h3>
            <p class="lead"><h5>변환전 PDF와 PDF포맷을 확인해주세요! 이미지형태의 PDF는 변환이 되지 않습니다.</h5></p>
            <form id="fileUploadFormBosch" method="POST" enctype="multipart/form-data">
                <input id="uploadPdfBosch" name="file" type="file" accept="application/pdf, application/vnd.ms-excel"/>
                <div style="display: flex;">
                    <select name="type" class="form-control" style="width: 22%;margin-top: 5px;margin-right: 5px;">
                        <option value="EA">BOSCH_TYPE_EA</option>
                        <option value="PCS">BOSCH_TYPE_PCS</option>
                    </select>
                    <button id="btnSubmitBosch" type="button" class="btn btn-primary" style="margin-top: 5px;">Excel변환</button>
                </div>
            </form>
        </div>
        <div id="lenovo" th:classappend="${service} == 'lenovo' ? 'in active' : ''" class="tab-pane fade">
            <h3>LENOVO PDF Excel 변환</h3>
            <p class="lead"><h5>변환전 PDF와 PDF포맷을 확인해주세요! 이미지형태의 PDF는 변환이 되지 않습니다.</h5></p>
            <form id="fileUploadFormLenovo" method="POST" enctype="multipart/form-data">
                <input id="uploadPdfLenovo" name="file" type="file" accept="application/pdf, application/vnd.ms-excel"/>
                <div style="display: flex;">
                    <select name="type" class="form-control" style="width: 22%;margin-top: 5px;margin-right: 5px;">
                        <option value="DN">LENOVO_TYPE_DN</option>
                        <option value="DEL">LENOVO_TYPE_DEL</option>
                    </select>
                    <button id="btnSubmitLenovo" type="button" class="btn btn-primary" style="margin-top: 5px;">Excel변환</button>
                </div>
            </form>
        </div>
        <div id="invoice" th:classappend="${service} == 'invoice' ? 'in active' : ''" class="tab-pane fade">
            <h3>INVOICE, DA 관리 및 엑셀처리 작업</h3>
            <p class="lead"><h5>엑셀 업로드 전 해당 원단의 PDF가 있는지 확인해주세요.</h5></p>
            <div>
                <p class="lead"><h5>DA(PDF) 업로드</h5></p>
                <form id="daPdfUploadForm" method="POST" enctype="multipart/form-data" style="margin-top:5px;">
                    <input id="uploadDaPdf" name="file" type="file" accept="application/pdf" style="float:left;"/>
                    <button id="btnSubmitPdf" class="btn btn-primary btn-xs">선택된 파일 업로드</button>
                </form>
            </div>
            <hr style="width:100%;">
            <div style="margin-top: 20px;">
                <span style="font-size:18px;color:red;margin-right:50px;">UPLOAD된 PDF 리스트</span>
                <div style="float:right;display:contents">
                    <input id="searchPdf" style="margin-top: 10px;width:250px;height:29px;"/>
                    <button id="searchPdfBtn" class="btn btn-danger btn-sm" style="margin-bottom:5px;">검색</button>
                </div>
            </div>
            <div id="fileList" style="border: 1.2px solid black;height:300px;overflow:auto;">
                <span th:each="file : ${fileNames}">
                    <div style="width: 33%; float: left;">
                        <a><span th:text="${file}" style="margin-right: 15px;"></span></a><a><span th:onclick="fileDelete([[${file}]]);">삭제</span></a>
                    </div>
                </span>
            </div>
            <hr style="width:100%;">
            <div>
                <p class="lead"><h4>INVOICE(EXCEL)업로드 변환</h4></p>
                <p>* INVOICE(EXCEL) 내부 원단과 부자재 사이에 이미지가 있는지 확인해주세요</p>
                <p>* INVOICE(EXCEL) 내부 DA와 매칭되는 INVOICE가 업로드 되어 있지 않은 경우 정상 추출되지 않습니다.</p>
                <form id="excelUploadForm" target="_blank" action="/convert/excel" method="POST" enctype="multipart/form-data" style="margin-top:5px;">
                    <input id="uploadExcel" name="file" type="file" accept="application/vnd.ms-excel"/>
                    <input id="btnSubmitUploadExcel" type="submit" class="btn btn-primary" value="변환시작" style="margin-top:5px;"/>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" src="../static/js/bosch.js"></script>
<script type="text/javascript" src="../static/js/lenovo.js"></script>
<script type="text/javascript" src="../static/js/invoice.js"></script>
<script  th:inline="javascript">
    /*<![CDATA[*/
    var testValue = [[${fileNames}]];
    /*]]>*/

    function fileDelete(fileName) {
        var deleteFlag = confirm(fileName + "을 삭제하시겠습니까?");

        if (deleteFlag) {
            $.ajax({
                type: 'GET',
                enctype: 'multipart/form-data',
                url: '/delete/pdf?file=' + fileName,
                processData: false,
                contentType: false,
                cache: false,
            }).done(function(fragment) {
                $("#fileList").replaceWith(fragment);
                alert("삭제되었습니다.")
            });;
        } else {
            console.log("no")
        }
    }

    function pdfPreview(fileName) {
        var previewFlag = confirm(fileName + "미리보시겠습니까?");

        if (previewFlag) {
            $.ajax({
                type: 'GET',
                enctype: 'multipart/form-data',
                url: '/preview/pdf?file=' + fileName,
                processData: false,
                contentType: false,
                cache: false,
            }).done(function(fragment) {
                $("#fileList").replaceWith(fragment);
            });;
        } else {
            console.log("no")
        }
    }
</script>
</body>
<script>

</script>
</html>