<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">신한관세법인</h3>
        </div>

        <div class="jumbotron">
            <h1>PDF Excel 변환</h1>
            <p class="lead"><h5>변환전 PDF와 PDF포맷을 확인해주세요! 이미지형태의 PDF는 변환이 되지 않습니다.</h5></p>
            <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
                <input id="upload_pdf" name="file" type="file" accept="application/pdf, application/vnd.ms-excel" />
                <div style="display: flex;">
                    <select name="type" class="form-control" style="width: 22%;margin-top: 5px;margin-right: 5px;">
                        <option value="EA">BOSCH_TYPE_EA</option>
                        <option value="PCS">BOSCH_TYPE_PCS</option>
                    </select>
                    <button id="btnSubmit" type="button" class="btn btn-primary" style="margin-top: 5px;">Excel변환</button>
                </div>
            </form>
        </div>
    </div>

    </div>
    <script type="text/javascript" src="../static/js/home.js"></script>
</body>
<script>

</script>
</html>